<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a routerLink="/" (click)="logout()" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Local</h3>
        <p>
          <strong>id</strong>: <%= user._id %><br>
          <strong>email</strong>: <%= user.local.email %><br>
          <strong>password</strong>: <%= user.local.password %>
        </p>
      </div>
    </div>

    <div class="container col s6">
      <button (click)="getTests()" class="btn btn-success">Get entries</button>
    </div>
    <br>
    <div *ngFor="let entry of testEntries">
      <pre>{{entry | json}}</pre>
    </div>

  </div>

</div>
